<footer class="global clearfix no-global">
  <nav id="main-navigation" role="navigation" class="clearfix">
    <div class="legal clearfix has-cookie">
        <p class="twelve-col">Exotic Stylish, Woodys Exotic Farm, 5 Rookery Road, Wyboston Bedfordshire, MK44 3AX, UK.</p>
        <p class="twelve-col">Telephone/Fax: 01480 217368 email: info@exotic-stylish.co.uk</p>
        <p class="twelve-col">Website: www.exotic-stylish.co.uk</p>
        <span class="accessibility-aid"><a href="#">Got to the top of the page</a></span>
    </div>
  </nav>
</footer>
