<header class="banner global" role="banner">
  <nav role="navigation" class="nav-primary">
    <span class="accessibility-aid">
      <a href="#main-content">Jump to main content</a>
    </span>
    <div class="logo">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/logo-simple.png" alt="" />
      </a>
    </div>
    <div id="nav">
      <div class="nav-toggle">
        <a href="#nav" class="nav-toggle__link open"></a>
        <a href="#" class="nav-toggle__link close"></a>
      </div>
      <ul class="nav-list">
        {% for page in site.pages %}
          {% if page.title %}
          <li class="nav-list-item">
            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="right">
      <img src="{{ site.baseurl }}/img/mono-logo.png" alt="" />
    </div>
  </nav>
</header>
<div class="wrapper">
  <div id="main-content">
    <div class="row-hero">
      <div class="inner-wrapper">
        <h1>An Exclusive Range Of Quality Leather Products</h1>
        <h2>Made in England</h2>
      </div>
    </div>
  </div>
</div>
