$brand: #963E8D;
$brand-green: #3C8D68;
$link-color: #868688;
// Header
@media only screen and (min-width: 620px) {
  header.banner {
    border-bottom: 0;
    background-color: $white;
    margin-top: 20px;
  }
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', Helvetica !important;
  font-weight: normal !important;
}

.banner .nav-primary {
  position: relative;
  overflow: visible !important;
  height: 100px;
}

.banner .nav-primary ul.nav-list {
  float: left;

  .nav-list-item {
    background-image: url('/img/green-star.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    border: 0 !important;

    a {
      font-weight: 700;
      text-transform: uppercase;
      color: $brand-green;
    }
  }
}

footer.global {
  box-shadow: none !important;

  .legal p {
    font-size: 1rem;
  }
}

// Hero row
.row-hero,
footer.global .legal p {
  text-align: center;
  color: $brand-green;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}

.row .inner-wrapper {
  padding-left: 350px;
  max-width: 900px;
}


.product-list {
  list-style: none;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.product-list__item {
  width: 25%;
  float: left;
  margin-bottom: 60px;
}

.product-list__link {
  margin: 0;
  margin-bottom: 5px;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}

.buy-button {
  margin-top: 40px;
}

// Navigation styling
#nav {
  width: 200px;
  position: absolute;
  left: 0;
  top: 300px;
  border-right: 2px solid $brand-green;
}
