---
layout: default
---

<div class="row no-border">
  <div class="inner-wrapper">
    <ul class="product-list">
      {% for post in site.categories.products %}
        {% for tag in post.tags %}
          {% if tag == page.title %}
            <li class="product-list__item">
              <a href="{{ site.baseurl }}{{ post.url }}" class="product-list__link">
                <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}" class="product-list__image" />
                <h3 class="product-list__name">{{ post.title }}</h3>
                <p class="product-list__price">&pound;{{ post.price }}</p>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
